@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Texturina', serif;
  font-size: 1rem;
  background: rgb(216, 241, 241);
}

header{
  background-color: azure;
}


button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid cornsilk;
  border-radius: 5px;
  background: rgb(216, 241, 241);
}

button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.container{
  width: 95%;
  margin: auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background: azure;
}

.nav button{
  font-style: thin;
  border: 1px solid cornsilk;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.create-card{
  display:none;
  width: 370px;
  margin:auto;
  padding: 20px;
  margin-top: 10px;
  background: rgb(244, 253, 166) ;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

.create-card textarea{
  width: 100%;
  border-radius: 0px;
  text-align:inherit;
  font-family: inherit;
  border: 1px solid lightgray;
  font-size: 17px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.create-card .description{
  width: 100%;
  height: 100px;
}

.create-card select{
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: 'Texturina', sans-serif;
  font-style: bold;
}

.create-card button{
  width: fit-content;
  margin-top: 10px;
}

.flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;

}

.flashcard{
  width: 370px;
  height: 300px;
  word-wrap: break-word;
  margin: 10px; 
  background: rgb(244, 253, 166);
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  font-family: 'Texturina', serif;
}

.flashcard h2{
  font-size: 1.45rem;
  font-family: 'Texturina', serif;
}

.flashcard h3{
  font-size: 1.15rem;
  padding-top: 10px;
  text-align: center;
}

.flashcard h4{
  font-size: 1.45rem;
  text-align: center;
  color: #2660A4;
  margin-top: 20px;
}

@media(max-width:768px){
  .flashcard{
    margin: auto;
  }

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  .nav{
    flex-direction: column;
    align-items: center;
  }

  .create-card{
    width: 100%;
  }

  .flashcard{
    width: 100%;
  }

}

