@import url('https://fonts.googleapis.com/css3?family=Nunito:wght@200&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #2e3440;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important; /* font sempre com o melhor estilo possivel */
  -webkit-font-smoothing: antialiased !important; /* font sempre com o melhor estilo possivel */
  padding-bottom: 100px;
}



div.banner {
  width: 100%;
  height: 150px;
  color: #9defff;
  display: "inline";
  position:relative;
  background: #1b1c27;
}

.banner h1{
  position: absolute;
  left: 35%;
  top:60px;
}

.topnav {
  width: 40%;
  overflow: hidden;
  position: absolute;
  left: 30%;
  padding-bottom:40px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4a9eed;
  color: white;
}


.topnav .icon {
  display: none;
}

.webr-text h3{
  color: #9defff;
}

.webr-text p{
  font-size: 18px;
}

.profile{
  border-radius: 50%;
  width: 50px;
}

.ppl{
  position: absolute;
  color: #FFF;
  top: 240px;
  left: 66%;
}

.ppl h3{
  color: #9defff;
  font-size: 30px;
}

#meta{
  float:right;
  position: absolute;
  top: 105px;
}

#max{
    float:right;
    position: absolute;
    top: 163px;
}
